<!DOCTYPE html>
<html>
<head>
    <title>Flask Leaflet</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #mapid {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>

<div id="mapid"></div>

<svg width="0" height="0">
    <defs>
        <pattern id="red-dots" patternUnits="userSpaceOnUse" width="10" height="10">
            <rect width="10" height="10" fill="red" fill-opacity="0.1"/>
            <circle cx="5" cy="5" r="1" fill="red" />
        </pattern>
    </defs>
</svg>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<script>
    var mymap = L.map('mapid').setView([43.8563, 18.4131], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(mymap);

    L.marker([43.8563, 18.4131]).addTo(mymap)
        .bindPopup('Sarajevo')
        .openPopup();

    // Load GeoJSON data
    fetch('/static/suspect_areas.geojson')
        .then(response => response.json())
        .then(data => {
            L.geoJSON(data, {
                style: function (feature) {
                    return {
                        fillColor: 'url(#red-dots)',
                        fillOpacity: 1,
                        color: 'red',
                        weight: 1
                    };
                }
            }).addTo(mymap);
        });
</script>

</body>
</html>
